<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Welcome to the Zoo Animal Management System</h2>
                <p class="card-text">
                    This system helps manage and track animals across various zoos. You can:
                </p>
                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item">View all animals in the database</li>
                    <li class="list-group-item">Add new animals to the system</li>
                    <li class="list-group-item">Edit existing animal records</li>
                    <li class="list-group-item">Remove animals from the database</li>
                </ul>
                <div class="d-grid gap-2">
                    <a href="/animals" class="btn btn-primary">View All Animals</a>
                    <a href="/animals/new" class="btn btn-success">Add New Animal</a>
                </div>
            </div>
        </div>
    </div>
</div>
